<!-- <div class="app-shell-layout">
  <ui-shell-header></ui-shell-header>

  <div class="app-shell-body">
    <ui-shell-sidebar></ui-shell-sidebar>
    <main class="app-shell-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div> -->

<div class="w-full text-center">
  <tds-layout>
    <tds-header class="!bg-primary-1 !dark:bg-d-primary-1"
      urlAvatar="https://randomuser.me/api/portraits/women/68.jpg">Header</tds-header>
    <tds-layout-content>Content</tds-layout-content>
    <tds-layout-footer class="!bg-primary-1 !dark:bg-d-primary-1 !text-white">Footer</tds-layout-footer>
  </tds-layout>

  <tds-layout>
    <tds-header class="!bg-primary-1 !dark:bg-d-primary-1"
      urlAvatar="https://randomuser.me/api/portraits/women/68.jpg">Header</tds-header>
    <tds-layout>
      <tds-layout-sider>Sider</tds-layout-sider>
      <tds-layout-content>Content</tds-layout-content>
    </tds-layout>
    <tds-layout-footer class="!bg-primary-1 !dark:bg-d-primary-1 !text-white">Footer</tds-layout-footer>
  </tds-layout>

  <tds-layout>
    <tds-header class="!bg-primary-1 !dark:bg-d-primary-1"
      urlAvatar="https://randomuser.me/api/portraits/women/68.jpg">Header</tds-header>
    <tds-layout>
      <tds-layout-content>Content</tds-layout-content>
      <tds-layout-sider>Sider</tds-layout-sider>
    </tds-layout>
    <tds-layout-footer class="!bg-primary-1 !dark:bg-d-primary-1 !text-white">Footer</tds-layout-footer>
  </tds-layout>

  <tds-layout>
    <tds-layout-sider>Sider</tds-layout-sider>
    <tds-layout>
      <tds-header class="!bg-primary-1 !dark:bg-d-primary-1"
        urlAvatar="https://randomuser.me/api/portraits/women/68.jpg">Header</tds-header>
      <tds-layout-content>Content</tds-layout-content>
      <tds-layout-footer class="!bg-primary-1 !dark:bg-d-primary-1 !text-white">Footer</tds-layout-footer>
    </tds-layout>
  </tds-layout>
</div>