@import '../../../libs/ui/src/lib/styles/global.scss';

body {
  margin: 0;
  font-family: var(--tds-font-family-heading);
  background-color: var(--tds-color-neutral-50);
  color: var(--tds-color-neutral-900);
}
