@import '../../../libs/ui/src/lib/styles/global.scss';

body {
  margin: 0;
  font-family: var(--tds-font-family-heading);
  background-color: var(--tds-color-neutral-50);
  color: var(--tds-color-neutral-900);
}

/* Custom Thin Red Scrollbar */
* {
  scrollbar-width: thin !important;
  scrollbar-color: #800a20 transparent !important;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  display: block !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 4px !important;
}

::-webkit-scrollbar-thumb {
  background: #800a20 !important;
  border-radius: 4px !important;
  transition: background 0.2s ease !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #a00d28 !important;
}
